.profile__image-overlay {
  opacity: 0;
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: url('../../../../images/edit-icon.svg') 50% no-repeat;
  background-size: 26px;
}

.profile__image-overlay:hover {
  opacity: 0.8;
  background-color: #000;
}